# エラードキュメントの指定
ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{REQUEST_URI} ^/home(?:\.html)?$ [NC]
RewriteRule ^ / [R=301,L]

RewriteCond %{REQUEST_URI} ^/team(?:\.html)?$ [NC]
RewriteRule ^ /staff.html [R=301,L]

RewriteCond %{REQUEST_URI} ^/terms-and-conditions(?:\.html)?$ [NC]
RewriteRule ^ /t-pp.html#terms [R=301,L]

RewriteCond %{REQUEST_URI} ^/privacy-policy(?:\.html)?$ [NC]
RewriteRule ^ /t-pp.html#privacy-policy [R=301,L]

RewriteCond %{REQUEST_URI} ^/notation-scta(?:\.html)?$ [NC]
RewriteRule ^ /t-pp.html#sctl [R=301,L]

RewriteCond %{REQUEST_URI} ^/copyright(?:\.html)?$ [NC]
RewriteRule ^ /t-pp.html [R=301,L]

RewriteCond %{REQUEST_URI} ^/sitemap(?:\.html)?$ [NC]
RewriteRule ^ /sitemap.xml [R=301,L]
